body{
background:#f1f5f9;
font-family:Inter,Arial;
}

.sidebar{
width:240px;
height:100vh;
position:fixed;
background:#0f172a;
padding:20px;
}

.sidebar a{
display:block;
padding:12px;
color:#cbd5e1;
text-decoration:none;
border-radius:10px;
margin-bottom:8px;
}

.sidebar a:hover{
background:#1e3a8a;
color:white;
}

.sidebar a.active{
background:#2563eb;
color:white;
}

.logo{
display:flex;
align-items:center;
gap:10px;
margin-bottom:30px;
color:white;
}

.logo-box{
background:#2563eb;
padding:8px;
border-radius:8px;
}

.topbar{
position:fixed;
left:240px;
right:0;
height:70px;
background:white;
border-bottom:1px solid #e5e7eb;
display:flex;
align-items:center;
justify-content:flex-end;
padding-right:20px;
}

.content{
margin-left:240px;
padding:90px 40px;
}

.avatar{
width:34px;
height:34px;
background:#2563eb;
color:white;
display:flex;
align-items:center;
justify-content:center;
border-radius:50%;
}

.status-ok{
background:#dcfce7;
color:#16a34a;
padding:4px 10px;
border-radius:20px;
font-size:13px;
}

.status-late{
background:#fee2e2;
color:#dc2626;
padding:4px 10px;
border-radius:20px;
font-size:13px;
}